<div class="pt-5">
  <header class="mb-4 mt-5 header text-center">
    <img src="/assets/logo.svg" alt="logo." />
  </header>

  <main class="d-flex mt-4 justify-content-center">
    <section class="create-account">
      <h1 class="title text-center">Recover password</h1>

      <p class="subtitle text-center">
        Provide your email to recover your password
      </p>

      <p *ngIf="errorMessage" class="alert alert-danger">
        <small>{{ errorMessage }}</small>
      </p>

      <form [formGroup]="emailForm">
        <div class="form-group">
          <label for="email" class="form-label">Email</label>

          <svg
            class="form-group-icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 11L4 6H20ZM20 18H4V8L12 13L20 8V18Z"
              fill="#838383"
              fill-opacity="0.75"
            />
          </svg>

          <input
            id="email"
            type="text"
            class="form-control"
            placeholder="Enter your email"
            formControlName="email"
            required
          />
        </div>

        <button
          (click)="sendRecoveryEmail()"
          type="submit"
          class="btn btn-primary login-btn mt-3"
        >
          Next
        </button>
      </form>

      <p class="sign-up my-4">
        <a routerLink="/auth/login" class="text-primary">Go to log in</a>
      </p>
    </section>
  </main>
</div>
