.cart-item {
  border-bottom: 1px solid #ddd;
}

.item-name,
.price {
  font-size: 14px;
}

.item-quantity {
  .form-label {
    font-size: 12px;
    display: inline;
  }

  .form-control {
    height: 1.5em;
    width: 4em;
    display: inline;
    font-size: 14px;
    padding-right: 0;
  }
}

.remove {
  color: var(--bs-primary);
  font-size: 14px;
  text-align: end;
  cursor: pointer;
  text-decoration: none;
}
