<div class="pt-5">
  <header class="mb-5 mt-5 header text-center">
    <img src="/assets/logo.svg" alt="logo." />
  </header>

  <main class="mt-5 text-center">
    <i class="fa fa-envelope"></i>
    <h6 class="text-muted">Email sent</h6>

    <p class="p-4">
      We have sent an email to <span class="text-primary">{{ email }}</span> .
      <br />
      Use the link in the email to reset your password.
    </p>

    <p class="sign-up mt-4">
      <a routerLink="/auth/login" class="text-primary">Go to log in</a>
      or
      <a routerLink="/auth/recover-password" class="text-primary">
        Resend reset email
      </a>
    </p>
  </main>
</div>
