<div class="d-flex d-lg-none py-3 shadow-sm">
  <a
    routerLink="insights"
    routerLinkActive="active"
    class="flex-grow-1 text-center nav-link"
  >
    <i class="fa fa-dashboard"></i> <br />
    Insights
  </a>
  <a
    routerLink="sell"
    routerLinkActive="active"
    class="flex-grow-1 text-center nav-link"
  >
    <i class="fa fa-receipt"></i> <br />
    Sell
  </a>
  <a
    routerLink="products"
    routerLinkActive="active"
    class="flex-grow-1 text-center nav-link"
  >
    <i class="fa fa-qrcode"></i> <br />
    Products
  </a>
  <a
    routerLink="sales-history"
    routerLinkActive="active"
    class="flex-grow-1 text-center nav-link"
  >
    <i class="fa fa-history"></i> <br />
    Sales
  </a>
</div>
