<div class="modal-header border-0">
  <h5 class="modal-title">Change Your Password</h5>
</div>

<div class="modal-body">
  <form [formGroup]="passwordsForm" class="form">
    <!-- ERROR MESSAGES ALERTS -->
    <p *ngIf="passwordsForm.getError('passwords')" class="alert alert-danger">
      {{ passwordsForm.getError("passwords") }}
    </p>

    <p *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}

      <a *ngIf="requiresRecentLogin" href="#" (click)="goToLogin()">
        Click here to logout and then login again
      </a>
    </p>
    <!-- ERROR MESSAGES ALERTS -->

    <!-- NEW PASSWORD FIELD -->
    <div class="form-group mb-4">
      <label for="password" class="form-label">New password</label>

      <input
        id="password"
        type="text"
        class="form-control"
        formControlName="password"
        required
      />
    </div>
    <!-- /NEW PASSWORD FIELD -->

    <!-- REPEAT PASSWORD FIELD -->
    <div class="form-group mb-4">
      <label for="repeat-password" class="form-label">Repeat password</label>

      <input
        id="repeat-password"
        type="text"
        class="form-control"
        formControlName="repeatPassword"
        required
      />
    </div>
    <!-- /REPEAT PASSWORD FIELD -->
  </form>

  <small class="text-muted">
    * After changing your password, you will be required to login again with
    your new password
  </small>
</div>

<div class="modal-footer border-0 text-end">
  <button type="button" class="btn btn-md" (click)="modal.dismiss()">
    Cancel
  </button>

  <button
    type="button"
    [disabled]="buttonDisabled"
    class="btn btn-md btn-primary ms-2"
    (click)="updatePassword()"
  >
    Update
  </button>
</div>
